@font-face {
  font-family: SedgwickAve-Regular;
  src: url('../assets/fonts/SedgwickAve-Regular.ttf');
}

@font-face {
  font-family: Bangers-Regular;
  src: url('../assets/fonts/Bangers-Regular.ttf');
}

.toolbar-title {
	color:#000;
	font-family:SedgwickAve-Regular;
	font-size: 16pt;
}

.toolbar-background {
	background-color:#FFBB33;
}
