@font-face {
  font-family: SedgwickAve-Regular;
  src: url('../assets/fonts/SedgwickAve-Regular.ttf');
}

.toolbar-title {
	color:#fff;
	font-family:SedgwickAve-Regular;
	font-size: 16pt;
}

.toolbar-background {
	background-color:#ade;
}
