page-home {
  button {
    text-align: center !important;
    font-size: 14pt !important;
    font-style: monospace !important;
  }

  ion-menu ion-content {
    background-image: url('../assets/img/cardbk.jpg');
  }

  .mainlogo {
    margin: 20px auto;
    display: block;
    width: 65%; height: auto;
  }

  .sublogo {
    margin: 10px auto;
    display: block;
    width: 70%; height: auto;
  }
  ion-menu img {
    margin: 0 auto;
    display: block;
  }

  ion-card-title {
    text-align: center;
    font-size: 14pt;
    font-family:Pacifico-Regular;
    color: #4455ae !important;
  }

  ion-card {
    border-radius: 15px !important;
    background-image: url('../assets/img/cardbk.jpg') !important;
  }

  ion-card ion-list {
    border-radius: 15px !important;
  }
  button {
    border-radius: 10px;
  }

  ion-menu ion-item {
    font-family: Bangers-Regular;
    font-size: 14pt;
    letter-spacing: .1em;
    color: #fff !important;
    border-radius: 15px;
    background-color: #676767 !important;
  }
}
