page-home {
  button {
    text-align: center !important;
    font-size: 14pt !important;
    font-style: monospace !important;
  }

  img {
    margin: 20px auto;
    display: block;
    width: 75%; height: auto;
  }
}
