page-home {
  button {
    text-align: center !important;
    font-size: 14pt !important;
    font-style: monospace !important;
  }

  .mainlogo {
    margin: 20px auto;
    display: block;
    width: 65%; height: auto;
  }

  .sublogo {
    margin: 10px auto;
    display: block;
    width: 70%; height: auto;
  }
  ion-menu img {
    margin: 0 auto;
    display: block;
  }

  button {
    border-radius: 10px;
  }

  ion-menu ion-item {
    font-family: Bangers-Regular;
    font-size: 14pt;
    letter-spacing: .1em;
    color: #FA8072 !important;
  }
}
